@model Epicode_U5_W2_D1.Models.GetSpedizioneModel

@{
    ViewBag.Title = "GetSpedizione";
}

<h2>GetSpedizione</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row row-cols-1">
        <div>
            @Html.LabelFor(m => m.Id, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(m => m.Id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Id)
        </div>

        <div>
            @Html.LabelFor(m => m.CF, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(m => m.CF, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.CF)
        </div>
    </div>

    <input type="submit" value="Create" class="btn btn-primary" />

    if(ViewBag.Message != null)
                {
                    <p class="text-danger"> @ViewBag.Message </p>
                }

}